body{
    width: 1440px;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-img{
    border-radius: 6%;
    width: 350px;
    margin: 20px 20px 10px;
}
.app{
    background-color: white;
    margin: 200px auto 200px;
    border-radius: 6%;
    width: 400px;
}
h1{
    font-family: 'outfit', 'sans-serif';
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    width: 400px;
    margin: 10px auto 10px;
}
.qr-text{
    font-size: 15px;
    font-family: 'outfit', 'sans-serif';
    font-weight: 400;
    color: hsl(212, 45%, 89%);
    width: 400px;
    margin: 10px auto 40px;
    display: inline-block;
    line-height: 1.5;
}
